@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

html{
    font-family: 'Fredoka';
    background: #F7E8A4;
}

.container {
    text-align: center;
  }

.sidebar {
    margin: 0;
    padding: 50;
    width: 150px;
    background-color: #cee1f8;
    position: fixed;
    height: 200;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: #FF9D85;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #6F97D8;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.gallery_image{
  margin: 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery img {
  max-width: 100%;
  margin-bottom: 20px;
  border: 3px solid #6F97D8;
  border-radius: 10px; 
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.615);
}

.gallery img:hover {
  transform: scale(1.10);
}

.fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.374);
  z-index: 9999;
}
.fullscreen img {
  max-width: 85%;
  max-height: 85%;
  margin: auto;
  display: block;
  position: center;
  align-items: center;
}