@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

html{
    font-family: 'Fredoka';
    background: #F7E8A4;
}

.container {
    text-align: center;
  }
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 50;
    width: 150px;
    background-color: #cee1f8;
    position: fixed;
    height: 200;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #FF9D85;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #6F97D8;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .flexbox-grid{
    display: flex;
    gap: 24px;
}

.column{
    background-color: #a4d9ff;
    padding: 10px 40px;
    padding-bottom: 24px;
    flex: -1;
}